#windows{
    -fx-background-color: black;
    -fx-padding: 26px;

}
#windows2{
    -fx-background-color: rebeccapurple;
    -fx-padding: 26px;
    -fx-arc-width: 200px;
    -fx-arc-height: 200px;

}
#title{

    -fx-end-margin: auto;
    -fx-padding: 10;
    -fx-text-alignment: center;



}